.header{
    @include flex-between;
    background-color: $bgHeader;
    padding-top: 18px;
    padding-bottom: 18px;
    &__left{
        @include flex-center(41px);
    }
    &__right{
        @include flex-center(33px);
    }
    &__link {
        position: relative;
    }
    &__basket::after{
        @include flex-column-center;
        position: absolute;
        top: -7px;
        left: 22px;
        content: '5';
        width: 19px;
        height: 19px;
        background-color: $colorSpecial;
        border-radius: 50%;
        font-size: 12px;
        color: #fff;
    }
}