@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

img {
  max-width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

summary {
  list-style-type: none;
  -webkit-details-marker: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.pink-colored {
  color: #F16D7F;
}

.italic {
  font-style: italic;
}

.button {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  padding: 1rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 41px;
  align-items: flex-end;
}
.header__right {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 33px;
}
.header__link {
  position: relative;
}
.header__link:hover svg path {
  fill: #F16D7F;
}
.header__basket::after {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  left: 22px;
  content: "5";
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
}
.header__checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}
.header__checkbox:checked ~ .menu {
  right: 0;
}

.menu {
  position: absolute;
  top: 75px;
  right: -232px;
  z-index: 1;
  width: 232px;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  transition: right 0.6s;
}
.menu__checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}
.menu__close {
  position: absolute;
  top: 16px;
  right: 17px;
}
.menu__close:hover svg path {
  fill: #F16D7F;
}
.menu__heading {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  font-style: normal;
  line-height: normal;
  margin-bottom: 24px;
}
.menu__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__title {
  font-size: 14px;
  font-weight: 400;
  color: #F16D7F;
  font-style: normal;
  line-height: normal;
  display: block;
  margin-bottom: 12px;
}
.menu__list {
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.menu__link {
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  font-style: normal;
  line-height: normal;
}
.menu__link:hover {
  color: #F16D7F;
}

.promo {
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  gap: 63px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.promo__img {
  display: flex;
  max-width: 50%;
}
.promo__content {
  display: flex;
  gap: 16px;
}
.promo__title {
  font-size: 48px;
  font-weight: 900;
  color: #222;
  font-style: normal;
  line-height: normal;
}
.promo__subtitle {
  font-size: 32px;
  font-weight: 700;
  color: #222;
  font-style: normal;
  line-height: normal;
}
.promo__content::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
}

.sale {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 56px;
  padding-bottom: 96px;
  gap: 30px;
}
.sale__item {
  position: relative;
}
.sale__item img {
  height: 100%;
}
.sale__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 22, 22, 0.7);
}
.sale__item-big {
  grid-column: span 3;
}
.sale__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-style: normal;
  line-height: normal;
}
.sale__title {
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
  font-style: normal;
  line-height: normal;
}
.sale__item:hover {
  transform: scale(1.02);
}
.sale__item:hover .sale__content {
  background: rgba(33, 22, 22, 0.4);
}

.product-box__heading {
  font-size: 30px;
  font-weight: 400;
  color: #222;
  font-style: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 6px;
}
.product-box__text {
  font-size: 14px;
  font-weight: 400;
  color: #9F9F9F;
  font-style: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 48px;
}
.product-box__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 30px;
}
.product-box__browse-btn {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 95px;
}
.product-box__browse-link {
  position: relative;
  color: #F16D7F;
  background-color: #fff;
  border: #F16D7F 1px solid;
  transition: all 0.3s;
}
.product-box__browse-link:hover {
  background-color: #F16D7F;
  color: #fff;
  border: #F16D7F 1px solid;
}

.product {
  position: relative;
}
.product:hover .product__add {
  display: flex;
}
.product:hover .product__img {
  filter: brightness(0.5);
}
.product__content {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
}
.product__title {
  font-size: 13px;
  font-weight: 400;
  color: #000;
  font-style: normal;
  line-height: normal;
}
.product__text {
  font-size: 14px;
  font-weight: 300;
  color: #5D5D5D;
  font-style: normal;
  line-height: normal;
}
.product__price {
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
  font-style: normal;
  line-height: normal;
}
.product__add {
  position: absolute;
  top: 188px;
  display: none;
  left: 111px;
  border: 1px solid #fff;
  min-width: 139px;
  min-height: 44px;
  font-size: 14px;
  line-height: 17px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  color: #fff;
}
.product__add:hover {
  box-shadow: 0 0 5px #fff;
}
.product__add:hover svg path {
  fill: #F16D7F;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
  gap: 30px;
}
.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  min-height: 134px;
}
.feature__heading {
  font-size: 20px;
  font-weight: 400;
  color: #FBFBFB;
  font-style: normal;
  line-height: normal;
}
.feature__text {
  font-size: 14px;
  font-weight: 300;
  color: #FBFBFB;
  font-style: normal;
  line-height: normal;
  text-align: center;
  max-width: 360px;
}

.carousel-wrapper {
  background-color: #F7F7F7;
  position: relative;
  z-index: 0;
}

.carousel-control-next,
.carousel-control-prev {
  width: auto;
}

.carousel-item img {
  margin: 0 auto;
}

.svg-btn {
  padding: 8px;
  background-color: rgba(42, 42, 42, 0.1490196078);
}

.svg-btn:hover svg path {
  fill: #F16D7F;
}

.page-heading {
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-heading__title {
  font-size: 24px;
  font-weight: 400;
  color: #F16D7F;
  font-style: normal;
  line-height: normal;
}

.breadcrumbs__ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.breadcrumbs__ul li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  font-style: normal;
  line-height: normal;
}
.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  font-style: normal;
  line-height: normal;
}
.breadcrumbs__ul li:last-child .breadcrumbs__link {
  font-size: 14px;
  font-weight: 700;
  color: #F16D7F;
  font-style: normal;
  line-height: normal;
}

.product-info {
  margin-bottom: 128px;
}

.product-description {
  margin-top: -66px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 65px;
  border: 1px #EAEAEA solid;
  margin-bottom: 121px;
}
.product-description__subtitle {
  font-size: 14px;
  font-weight: 300;
  color: #F16D7F;
  font-style: normal;
  line-height: normal;
  position: relative;
  padding-bottom: 28px;
}
.product-description__subtitle::after {
  position: absolute;
  top: 29px;
  left: 41px;
  content: "";
  background-color: #F16D7F;
  width: 63px;
  height: 3px;
}
.product-description__title {
  font-size: 18px;
  font-weight: 300;
  color: #4D4D4D;
  font-style: normal;
  line-height: normal;
  margin-bottom: 48px;
}
.product-description__text {
  font-size: 14px;
  font-weight: 300;
  color: #5E5E5E;
  font-style: normal;
  line-height: normal;
  text-align: center;
  max-width: 555px;
  margin-bottom: 32px;
}
.product-description__price {
  font-size: 24px;
  font-weight: 300;
  color: #F16D7F;
  font-style: normal;
  line-height: normal;
  position: relative;
  padding-bottom: 130px;
}
.product-description__price::after {
  position: absolute;
  content: "";
  background-color: #EAEAEA;
  width: 641px;
  height: 1px;
  top: 89px;
  left: -280px;
}
.product-description__options {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 23px;
  margin-bottom: 48px;
}
.product-description__summary {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 9px;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  font-style: normal;
  line-height: normal;
  background-color: #fff;
}
.product-description__add-link {
  border: #F16D7F 1px solid;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 23px;
  color: #F16D7F;
  transition: background-color 0.3s, color 0.3s;
}
.product-description__add-link:hover {
  background-color: #F16D7F;
  color: #fff;
}
.product-description__add-link:hover svg path {
  fill: #fff;
}

.footer {
  background-color: #222224;
}

.subscribe {
  background: url(img/footer/subscribe-img.png);
  background-position: 25% 75%;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.subscribe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 126px;
}
.subscribe-content__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.subscribe-content__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe-content__text {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  font-style: normal;
  line-height: normal;
  max-width: 360px;
}
.subscribe-content__title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  font-style: normal;
  line-height: 167.2%;
}
.subscribe-content__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  font-style: normal;
  line-height: 167.2%;
  text-align: center;
  margin-bottom: 39px;
}
.subscribe-content__form {
  display: flex;
  justify-content: center;
  min-height: 49px;
  background-color: #E1E1E1;
  padding-left: 20px;
  border-radius: 20px;
}
.subscribe-content__form:hover {
  transform: scale(1.02);
}
.subscribe-content__form input {
  background-color: #E1E1E1;
}
.subscribe-content__form input::placeholder {
  padding: 7px 0;
  font-size: 14px;
  line-height: normal;
  opacity: 0.671;
}
.subscribe-content__btn {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-style: normal;
  line-height: normal;
  min-width: 100px;
  margin-left: 20px;
  background-color: #E05C6E;
  min-height: 49px;
  text-align: center;
  padding: 8px 7px;
  border-radius: 0px 20px 20px 0px;
}
.subscribe-content__btn:hover {
  box-shadow: 0px 0px 2px 1px #E05C6E;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-bottom__copyright {
  font-size: 16px;
  font-weight: 400;
  color: #FBFBFB;
  font-style: normal;
  line-height: normal;
}
.footer-bottom__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.footer-bottom__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  transition: all 0.3s;
}
.footer-bottom__link:hover {
  background-color: #F16D7F;
}
.footer-bottom__link:hover svg path {
  fill: #fff;
}

.filter-sort {
  padding-top: 39px;
  padding-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: baseline;
  position: relative;
  z-index: 10;
}

.filter {
  padding-top: 13px;
  max-width: 360px;
}
.filter__summary {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  font-style: normal;
  line-height: normal;
}
.filter[open] .filter__summary {
  padding-left: 16px;
}
.filter[open] {
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__summary {
  color: #F16D7F;
}
.filter[open] .filter__summary svg path {
  fill: #F16D7F;
}
.filter__content {
  position: absolute;
  width: 360px;
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.filter__item[open] .filter__item-heading {
  color: #F16D7F;
}
.filter__item-heading {
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  font-style: normal;
  line-height: normal;
  padding-top: 8px;
  padding-left: 11px;
  padding-bottom: 12px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}
.filter__nav {
  padding: 24px 16px 6px 16px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter__nav a {
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  font-style: normal;
  line-height: normal;
}
.filter__nav a:hover {
  color: #F16D7F;
}

.sort {
  grid-column: span 2;
  display: flex;
  gap: 28px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  font-style: normal;
  line-height: normal;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  left: -9px;
  margin-top: 5px;
  padding: 7px 30px 11px 9px;
  background: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.sort__check {
  display: flex;
  gap: 9px;
}
.sort__check input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.sort__check label {
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  font-style: normal;
  line-height: normal;
  font-family: Roboto;
  display: inline-flex;
  align-items: center;
}
.sort__check label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
}
.sort__check:hover label::before {
  border-color: #F16D7F;
}
.sort__check input:checked + label::before {
  border-color: #F16D7F;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.pagination {
  margin-top: 48px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
}
.pagination__list {
  border: 1px #EBEBEB solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 13px 16px;
  gap: 18px;
}
.pagination__btn, .pagination__number {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  justify-content: center;
}
.pagination__btn:hover path {
  fill: #F16D7F;
}
.pagination__number {
  width: 19px;
  height: 19px;
  border-radius: 5px;
}
.pagination__number a {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
}
.pagination__number:hover a {
  color: #fff;
}
.pagination__number:hover {
  background: #F16D7F;
  border: 1px solid #F16D7F;
}
.pagination__number-active a {
  color: #F16D7F;
}
.pagination__dots {
  margin-left: -16px;
  margin-right: -16px;
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */